@import url('https://fonts.googleapis.com/css?family=Kode+Mono&display=swap');

@font-face {
    font-family: 'Pokefont';
    src: url('pokemon_font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pokefont";
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

.full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* Set the path to your GIF */
    background-size: cover;
    /* Cover the entire viewport */
    background-repeat: no-repeat;
    /* Prevent the background from repeating */
    background-attachment: fixed;
    /* Keep the background fixed while scrolling */
}


.full-body-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    width: 80%;
    max-width: 700px;
}

.top-text {
    text-align: center;
    padding: 10px 0;
}

.top-text img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100px;
}

/* ----------- input box ------------ */
.input-box {
    display: flex;
    font-family: "Pokefont";
    font-size: 40px;
    align-items: center;
    gap: 10px;
}

.input-box img {
    width: 24px;
    height: 24px;
}

.input-box textarea {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-family: "Pokefont";
}

.input-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.input-box button:hover {
    background-color: #45a049;
}

/* ------- Each pokemon displayed features -------- */

.pokemon-name {
    font-size: 1.4em;
    margin-bottom: 0.25em;
}

.pokemon-desc {
    font-size: 0.9 em;
    line-height: 1.4em;
    color: #555;
}

.pokemon-pop {
    font-size: 1.0 em;
    color: #7e8410c9;
}

@media (max-width: 768px) {
    .full-body-container {
        width: 90%;
    }

    .input-box textarea,
    .input-box button {
        width: 100%;
        display: block;
    }

    .input-box {
        flex-direction: column;
        gap: 5px;
    }
}

.poke {
    color: #EA4335;
}

.match {
    color: #4285F4;
}

#submit-button {
    /* Set initial size and other styles */
    width: 77px;
    /* Original width */
    height: 68px;
    background-color: transparent;
    /* Original height */
    /* Set default background image */
    background-image: url('/static/images/detective_p.png');
    /* Set background image size to cover the entire button */
    background-size: cover;
    /* Set transition for smooth effect */
    transition: background-image 0.3s ease-in-out;
    /* Define the hover effect */
    cursor: pointer;
}

/* Adjust background image when hovering over the button */
#submit-button:hover {
    /* Change the background image on hover */
    background-image: url('/static/images/detective_p_selected.png');
}


.boxcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    grid-gap: 0px;
    background-size: cover;
    /* Adjust background size as needed */
    background-position: center;
    /* Adjust background position as needed */
    width: 50%;
    min-height: 400px;
    border-radius: 20px;
    /* Rounded corners */
    /* Set minimum height to ensure the entire background image is visible */
    justify-content: center;
    left: -20px;
}

.suggestcontainer {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* Adjust the gap between the boxes */
    padding: 20px;
}

.box {
    background-color: transparent;
    /* Set background to transparent */
    text-align: center;
    overflow: auto;
    width: 100%;
    /* Use auto instead of scroll to only show scrollbar when needed */
    line-height: 50px;
    transition: box-shadow 0.2s;
    display: inline-block;
    /* Make each box inline-block to adjust size based on contents */
    vertical-align: top;
    /* Align boxes to the top */
    border: none;
    /* Remove border if present */
}


/* ------- For each green selection box -------- */


/* Style for the container and images */
.container {
    position: relative;
    width: 280px;
    height: 100px;
    padding: 20px;
    /* Adjust container width as needed */
    float: left;
    /* Arrange containers side by side */
    margin-right: 20px;
    /* Add some spacing between containers */
    transform: translateX(24%);
}

.trigger-image {
    position: absolute;
    top: 10;
    left: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;

    /* Smooth transition for opacity */
}

.fade-image {
    position: absolute;
    top: 10;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;

    /* Smooth transition for opacity */
}

.move-image {
    position: absolute;
    top: 16px;
    /* Initial position */
    left: 5px;
    transition: top 0.3s ease;
    overflow: hidden;

    /* Smooth transition for vertical movement */
}

.pokemon_sprite {
    position: absolute;
    top: 30px;
    left: 30px;
    scale: 1.5;
}

.pokemon_name {
    position: absolute;
    top: 20px;
    left: 80px;
    color: aliceblue;
    font-size: 25px;
    font-family: "Pokefont";
    letter-spacing: 2px;
}

.card1 {
    border-radius: 10px;
    background: url(scorbunny.png);
    width: 200px;
    height: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: cover;
}

.card2 {
    border-radius: 10px;
    background: url(gengar.png);
    width: 200px;
    height: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: cover;
}

.card3 {
    border-radius: 10px;
    background: url(slowking.jpg);
    width: 200px;
    height: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: cover;
}

.card4 {
    border-radius: 10px;
    background: url(mr_mime.png);
    width: 200px;
    height: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: cover;
}

.card5 {
    border-radius: 10px;
    background: url(guzzlord.png);
    width: 200px;
    height: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: cover;
}

.rgb::after {
    content: "";
    background: linear-gradient(45deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    /*or z-index */
    animation: rgb 6s linear infinite;
}

.card-container {
    padding-top: 100px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container>div {
    margin: 0 50px;
    /* Adjust the margin as needed */
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.js-tilt-glare {
    border-radius: 18px;
}