<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - 
            Pokematch
    </title>
    <link rel="icon" href="{{ url_for('static', filename='/pokeball.png') }}" type="image/x-icon">
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body class="full-page">
    <div class="full-body-container">
        <div class="top-text">
            <h1><span style="color: #EA4335;">Poké</span><span style="color: #4285F4;">Match</span></h1>
        </div>
        <div class="input-box">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <textarea placeholder="Enter a description about yourself" id="filter-text-val"></textarea>
            <button onclick="submitSearch()">Submit</button>
        </div>
        <!-- Separate input for Pokémon search suggestions -->
        <div class="pokemon-search">
            Pick Your Favorite Pokemon To See How Similar It Is
            <input type="text" id="pokemon-search" oninput="updatePokemonSuggestions(this.value)" placeholder="Search Pokémon">
            <!-- Suggestions container -->
            <div class = "suggestcontainer" id="pokemon-suggestions">

            </div>
            <div id = "favresult">
            </div>
        </div>   

        <div id ="svd-list"> The Top Related Words: </div>
        <div class="boxcontainer" id="boxcontainer">
            <div id="box1" class="box"></div>
            <div id="box2" class="box"></div>
            <div id="box3" class="box"></div>
            <div id="box4" class="box"></div>
            <div id="box5" class="box"></div>
            <div id="box6" class="box"></div>
        </div> 
    </div>

    <script>
        function submitSearch() {
            var filterTextVal = document.getElementById('filter-text-val').value;
            filterText(filterTextVal);
            var favPokemon = document.getElementById('pokemon-search').value;
            favPokemonRanking(filterTextVal, favPokemon);
        }
        
        function answerBoxTemplate(pokemname, pokeDesc, pokepop) {
            let filename = '/static/images/Pokemon_sprites_Gen1-8/' + pokemname + '.png';
            if (!pokeDesc && !pokepop){
                return `<div class="container" onmouseenter="handleMouseEnter(this)" onmouseleave="handleMouseLeave(this)">
                        <!-- Image to hover over -->
                        <img class="trigger-image" src="/static/images/pokemon_background.png">

                        <!-- Image to fade into -->
                        <img class="fade-image" src="/static/images/selected_pokemon_background.png">

                        <!-- Image to move down -->
                        <img class="move-image" src="/static/images/Pokeball_top_unselected.png">

                        <img class="pokemon_sprite" src="${filename}">
                        <text class="pokemon_name">${pokemname}</text>
                    </div>`;

            }
            return `<div class="container" onclick="generatePokemonPage(&quot;${pokemname}&quot;, &quot;${pokeDesc}&quot;, &quot;${pokepop}&quot;)" onmouseenter="handleMouseEnter(this)" onmouseleave="handleMouseLeave(this)">
                        <!-- Image to hover over -->
                        <img class="trigger-image" src="/static/images/pokemon_background.png">

                        <!-- Image to fade into -->
                        <img class="fade-image" src="/static/images/selected_pokemon_background.png">

                        <!-- Image to move down -->
                        <img class="move-image" src="/static/images/Pokeball_top_unselected.png">

                        <img class="pokemon_sprite" src="${filename}">
                        <text class="pokemon_name">${pokemname}</text>
                    </div>`;
        }

        function handleMouseEnter(element) {
            const fadeImage = element.querySelector('.fade-image');
            const moveImage = element.querySelector('.move-image');

            fadeImage.style.opacity = '1';
            moveImage.style.top = '4px';
        }

        function handleMouseLeave(element) {
            const fadeImage = element.querySelector('.fade-image');
            const moveImage = element.querySelector('.move-image');

            fadeImage.style.opacity = '0';
            moveImage.style.top = '16px'; 
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function displayWord(item, index){
            let targetLocation = document.getElementById("svd-list");
            const pokemonPageContent = `${item}`;
            console.log(item);
            let tempDiv = document.createElement("li");
            tempDiv.innerHTML = pokemonPageContent
            targetLocation.appendChild(tempDiv);
        }

        function filterText() {
            let i = 1;
            console.log(document.getElementById("filter-text-val").value)
            fetch("/pokemon?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => {
                sessionStorage.setItem('pokemonData', JSON.stringify(data));
                data.forEach(row => {
                    let targetBoxId = "box" + i;
                    let targetBox = document.getElementById(targetBoxId);
                    if (targetBox){
                        targetBox.innerHTML = ""
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.name,row.desc, row.pop)
                        targetBox.appendChild(tempDiv)
                        i += 1
                    }
                });
            });
            fetch("/topwords?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then(response => response.json()) // Assuming the response is in JSON format
            .then(data => {
                let targetLocation = document.getElementById("svd-list");
                if (targetLocation){
                    targetLocation.innerHTML = "";
                }
                word_list = data.substring(1, data.length - 1).split(",");
                console.log(word_list)
                word_list.forEach(displayWord) 
            })
        }

        function generatePokemonPage(name, desc, pop) {
            let filename = '/static/images/PokemonImages/' + name + '.png';
            const pokemonPageContent = `
                <body>
                    <img class="pokemon_image" src="${filename}" width = "100" height = "100">
                    <h1>${name}</h1>
                    <p>${desc}</p>
                    <p>Popularity: ${pop}</p>
                    <button onclick="window.location.href = ''; return false;">Back to Index</button>
                </body>
            `;
            document.write(pokemonPageContent);
        }

        window.onload = function() {
            let storedData = sessionStorage.getItem('pokemonData');
            if (storedData) {
                let data = JSON.parse(storedData);
                let i = 1;
                data.forEach(row => {
                    let targetBoxId = "box" + i;
                    let targetBox = document.getElementById(targetBoxId);
                    if (targetBox){
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.name,row.desc, row.pop)
                        targetBox.appendChild(tempDiv)
                        i += 1
                    }
                });
            }
        }

        function favPokemonRanking(text, favPokemon) {
            console.log(text);
            console.log(document.getElementById("filter-text-val").value);
            const favPokemonContainer = document.getElementById('favresult');
            fetch("/pokemonRanking?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value, input: favPokemon}).toString())
            .then((response) => response.json())
            .then((data) => {
                    favPokemonContainer.innerHTML = ''; 
                    favPokemonContainer.innerHTML = `<p>Your Favorite Pokémon is the ${data} most similar Pokémon to you </p>`
                    console.log(data);
                });
        };
        

        function updatePokemonSuggestions(input) {
            const suggestionsContainer = document.getElementById('pokemon-suggestions');
            if (input.trim().length === 0) {
                suggestionsContainer.innerHTML = ''; // Clear suggestions if input is empty
                return;
            }
            fetch(`/pokemonSuggestions?search=${input}`)
            .then(response => response.json())
            .then(data => {
                suggestionsContainer.innerHTML = ''; // Clear previous suggestions
                if (data.length === 0) {
                    suggestionsContainer.innerHTML = '<p>No suggestions found</p>';
                } else {
                    const ul = document.createElement('ul');
                    ul.style.listStyleType = 'none'; // Remove default list styling
                    ul.style.padding = '0'; // Remove default padding
                    data.forEach(pokemon => {
                        const li = document.createElement('li');
                        li.innerHTML = answerBoxTemplate(pokemon, null, null)
                        li.onclick = () => {
                            document.getElementById('pokemon-search').value = pokemon; // Set input value to clicked suggestion
                            suggestionsContainer.innerHTML = ''; // Clear suggestions after selection
                        };
                        ul.appendChild(li);
                    });
                    suggestionsContainer.appendChild(ul);
                }
            })
            .catch(error => {
                console.error('Error fetching Pokémon suggestions:', error);
            });
        }

    </script>
</body>
</html>
